body {
	background-color: #F5E9C4;
}
header{
	border: 1pz solid black;
	background-color: #C79665;
	height: 200px;
	
}
img{
	border-radius: 50%;
	width: 150px;
}

footer{
	border: 1pz solid black;
	background-color: #C79665;
	margin-bottom:0px;
	margin-top: 120px;
}


#container {

	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	background: white;
	height: 1100px;
}
h1{ 
margin-left: 160px;
	margin-right: 0px;
	margin-top: 100px;
	margin-bottom: 0px;
	font-size: 30px;
	margin-inline-end: 550px;
	width: 200px;
	font-family: 'Aleo';

}
h2{
	margin-top: 40px;
	margin-right: 50px;
	margin-left: 120px;
	font-family: 'Alex Brush';font-size: 45px;
}

h3{
	margin-top: 40px;
	margin-right: 50px;
	margin-left: 250px;
	font-family: 'Alex Brush';font-size: 45px;
}
h4{
	margin-top: 40px;
	margin-right: 50px;
	margin-left: 120px;
	font-family: 'Alex Brush';font-size: 45px;
	margin-bottom: 0px;
}
h5{ 
margin-left: 380px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 20px;
	margin-inline-end: 550px;
	width: 200px;
	font-family: 'Aleo';
display: inline-block;
text-align: center;
}
h6{
	margin-top: 40px;
	margin-right: 50px;
	margin-left: 80px;
	font-family: 'Alex Brush';font-size: 45px;
	text-align: center;
	margin-bottom: 50px;
}
.two{
	width: 300px;
	display: inline-block;
	border: 1pz solid black;
	margin-left: 255px;
	margin-right: 255px;
	margin-top: 50px;
	margin-bottom: 50px;
}
#intro{
	text-align: center;
    font-size: 25px;
    font-family: 'Aleo', sans-serif;
    float: left;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 70px;
    width: 450px;
    display: inline-block;
	line-height: 2;
}
.intro2{
	text-align: center;
    font-size: 40px;
    font-family: 'Aleo', sans-serif;
    float: center;
    margin-left: 250px;
    margin-bottom: 20px;
    margin-top: 0px;
    width: 450px;
    display: inline-block;
	line-height: 2;
}
#intro3{
	text-align: center;
    font-size: 15px;
    font-family: 'Aleo', sans-serif;
    float: center;
    margin-left: 250px;
    margin-bottom: 20px;
    margin-top: 50px;
    width: 450px;
    display: inline-block;
	line-height: 2;
}
#intro4{
	text-align: center;
    font-size: 15px;
    font-family: 'Aleo', sans-serif;
    float: center;
    margin-left: 250px;
    margin-bottom: 20px;
    margin-top: 0px;
    width: 450px;
    display: inline-block;
	line-height: 2;
}
.myphoto {
	border-radius: 50px;
	width: 400px;
	margin-left: 80px;
	margin-right:0px;	
	margin-top: 0px;
	
}
.home {
	border-radius: 40%;
	width: 125px;
	
}
.destinations {
	border-radius: 40%;
	width: 125px;
	
	
}
.photo {
	border-radius: 40%;
	width: 125px;
	
}
.video {
	border-radius: 40%;
	width: 125px;
	
}
.contact {
	border-radius: 40%;
	width: 125px;
	
}
.logo{
	margin-right:50px;
	margin-right: 10px;
}
.menu ul li {
	display: inline-block;
	margin-left: 50px;
	margin-right: 20px;
	width: 100px;
	margin-top: 25px;
	position: relative; left:0px;
	
}
.two{
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 90px;
}
.start{
	margin-right: 450px;
	margin-left: 420px;
	margin-top: 15px;
	margin-bottom: 15px;
	
}
body {margin:25px;}

div.polaroid {
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-left: 100px;
  margin-right: 0px;
  display: inline-block;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
.three {
	border-radius: 0%;
	width: 300px;
	height: 420px;
	
}
div.polaroid1 {
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-left: 170px;
  margin-top: 0px;
  display:inline-block;
 
}
.airplane{
	width:500px;
	margin-left: 30px;
	margin-right:0px;	
	margin-top: 350px;
	border-radius: 50%;
}
#container1 {

	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	background: white;
}
#container2 {

	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	background: white;
}
#container3 {

	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	background: white;
}
#container4 {

	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	background: white;
	height: 4760px;
}
.insta{
	margin-right: 450px;
	margin-left: 420px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 0%;
}
.insta1{
	margin-right: 450px;
	margin-left: 420px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 0%;
}
.youtube{
	margin-right: 450px;
	margin-left: 420px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 30%;
}
.world{
	border-radius: 50px;
	width: 400px;
	margin-left: 300px;
	margin-right:0px;	
	margin-top: 0px;
	margin-bottom: 0px;
}
.location{
	width: 100px;
	margin-left: 430px;
	display: inline-block;
}
.video1{
	display: inline-block;
	margin-left: 220px;
	margin-top: 20px;
}
.newyork{
	border-radius: 0%;
	width: 300px;
	display: inline-block;
	margin-left: 20px;
	margin-top: 40px;
	
}
.row: after {
  content: "";
  clear: both;
  display: table;
  
}
.column {
  float: left;
  width: 33%;
  padding: 0px;
}